html {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    margin: 0;
    background-color: rgb(212, 212, 211);
    color: #333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
}

conver-window {
  display: flex;
  flex-direction: column;
  height: calc(100% - 5px);
}

conv-head {
  width: 100%;
}

form-input {
  width: 100%;
}

