chat-form {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid;
  border-bottom-color: gray;
  border-bottom-width: 0.5px;
}

.createchat {
  width: 90px;
  height: 90px;
  border: none;
  outline: none;
  margin: 0 5px 0 30px;
  border-radius: 100%;
  background-color: rgb(126, 50, 59);
  position: fixed;
  top: calc(100% - 100px);
  left: calc(100% - 150px);
}

.createchat-icon {
  fill: rgb(194, 194, 194);
  width: 70%;
  height: 70%;
}

.createchat:focus, .createchat:hover .createchat-icon{
  fill: white;
  transition: 0.2s;
}

.createchat:active {
  transition: 0.1s;
  box-shadow: 0 0 10px black;
}