chatlist-head {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border-bottom: solid;
  border-width: 1px;
  border-color: gray;
  display:flex;
  flex-direction: row;
  align-items: center;
}